<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>투표</title>
</head>
<body>
    <h2 align="center">설문 조사</h2>
    <form action="/surveys/submit" method="post">
        <table align="center">
            <tr>
                <td>성별 : </td>
                <td>
                    <input type="radio" name="gender" value="남자" checked="checked">남자
                    <input type="radio" name="gender" value="여자">여자
                </td>
            </tr>
            <tr>
                <td>좋아하는 동물 : </td>
                <td>
                    <input type="radio" name="animal" value="호랑이" checked="checked">호랑이
                    <input type="radio" name="animal" value="코끼리">코끼리
                    
                </td>
            </tr>
            <tr>
                <tr align="center">
                    <td>
                        <input type="submit" value="전송"> 
                    </td>
                    <td>
                        <input type="reset" value="취소">
                    </td>
                </tr>
            </tr>
        </table>
    </form>    
</body>
</html>