<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>설문 조사</title>
    <%- include('../partials/head') %>
</head>
<body class="body2">
    <%- include('../partials/nav') %>

    <h2 align="center">설문 조사</h2>
    <form name="surv" action="/surveys/submit" method="post">
        <table align="center">
            <tr>
                <td>성별 : </td>
                <td>
                    <input type="radio" name="gender" value="남자" checked="checked">남자
                    <input type="radio" name="gender" value="여자">여자
                </td>
            </tr>
            <tr>
                <td>좋아하는 동물 : </td>
                <td>
                    <input type="radio" name="animal" value="호랑이" checked="checked">호랑이
                    <input type="radio" name="animal" value="코끼리">코끼리

                </td>
            </tr>
        </table>
    </form>
    <div align="center">    
        <a class="a2" href="javascript:document.surv.submit();">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Send
        </a>
        <a class="a3" href="#" onclick="location.href='/'">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Cancle
        </a>
    </div>
</body>
</html>